.img-product{
    position: relative;
}

.box-edit-img-product{
    width: 100%;
    display: flex;
    justify-content: center;
}
.edit-img-product{
    max-width: 30%;
}

.edit-img-product img{
    max-width: 100%;
    background-color: lightgray;
}

.edit-img-product-span{
    color: #ddd;
    padding: 3px 0;
    cursor: pointer;
    background: #4a5568;
    display: block;
}

.edit-img-product input{
    display: none;
}

.li-add-category a{
    border: none!important;
}

.btn-add-product{
    margin-top: 15px;
    float: right;
}

.btn-add-category, .btn-add-product{
    color: #000;
    cursor: pointer;
}

.creat-category{
    padding-bottom: 0;
}

.input-create-category{
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 20px;
}

.btn-create-category{
    margin: 0!important;
}
